---
layout: default
---

<div class="home" id="rth-page">

    <input autocomplete="off" autofocus="autofocus" class="search" placeholder="Search" type="search">
    <ul class="list">
        {% for rth in site.data.rth %}
        <li class="hanzi-tile">
            <span class="hanzi-index">{{rth.index}}</span>
            <span class="hanzi" lang="zh-Hant" xml:lang="zh-Hant">{{ rth.hanzi }}</span>
            <br>
            <span class="hanzi-keyword">
                {{ rth.keyword }}
                {% if rth.partofspeech %}
                <sup>({{rth.partofspeech}})</sup>
                {% endif %}
            </span>
            <br>
            <span class="hanzi-url">
                <a href="http://www.mdbg.net/chindict/chindict.php?page=chardict&cdcanoce=0&cdqchi=c:{{rth.hanzi}}">MDBG</a>
                |
                <a href="http://www.archchinese.com/chinese_english_dictionary.html?find={{rth.hanzi}}">Arch</a>
                |
                <a href="http://stroke-order.learningweb.moe.edu.tw/characterQueryResult.do?word={{rth.hanzi}}">MOE</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>


<script text="text/javascript">
var options = {
    valueNames: [ 'hanzi', 'hanzi-index', 'hanzi-keyword' ],
    page: {{ site.data.rth.size }},
};

var hanziList = new List('rth-page', options);
</script>
